@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap');
body{
	padding: 0px;
	margin: 0px;
}
.txt li
{
	text-decoration-style: none;
	list-style: none;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    padding-right: 2%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.hostel
{
	margin-right: 4%;
    filter: opacity(0.4) drop-shadow(0 0 0 #fff); 
	width: 45px;
	height: 40px;

}

a{
	text-decoration: none;
	color: #d1d1d1 ;
	padding: 10px;
	border-radius: 15px;
}

.txt
{
	margin-bottom: 20px;
    display: flex;
	margin-top: 0px;
	width: 100%;
    background: #282c2e;
    opacity: 90%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;

}

.txt li a:hover{
	color: #fff;
	text-shadow: 0 0 2px #fff;
    transition: 1s ease-out ;
}

.img01
{
	margin-right: auto;
 	margin-left: auto;
 	display: flex;
 	border-radius: 10px;
 	width: 700px;
 	height: 300px;
}

.img02
{

	margin-top: 30px;
	margin-right: auto;
 	margin-left: auto;
 	display: flex;
 	border-radius: 10px;
 	width: 700px;
 	height: 300px;

}

#txtAlt1
{
   position: absolute;
   margin-top: 180px;
   
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
   
   backdrop-filter: blur(25px);
   color: #fff;
   
   border-radius: 15px;
}

.rodape
{
justify-content: center;
display: flex;
background: #edebeb;
width: 100%;
margin-right: 0px;
margin-top:24%;
padding-top:400px;
padding-bottom: 220px;
position: absolute;

}

.blocoRodape{
   top: 20px;
	position: absolute;
	margin-bottom:1000px;
	text-align: justify;
	color: #202020;
	font-family: 'Roboto', sans-serif;
	width: 900px;
	font-size: 18px;
}

section
{
	margin-top: 0px;
   margin-bottom: 2%;
   text-align: center;
   font-family: 'Roboto', sans-serif;
}

.slogan
{
 	text-align: center;
  font-family: 'Roboto', sans-serif;
}

.container
{
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}

.container2
{
	display: flex;
	justify-content: center;
}

#tuc
{
   position: absolute;
   margin-top: 130px;
}

#tuc:hover
{
	color: white;
	filter: brightness(100%);
	transition: 1s;
	text-shadow: 0 0 4px #fff;
}

#texto 
{
	position: absolute;
    margin-top: 220px;
    margin-left: 30px;
}

#texto:hover
{
	color: white;
	transition: 1s;
}

.image
{
	border-radius: 10px;
}

.card-home-time
{
	font-family: 'Albert Sans', sans-serif;
   font-size: 18px;
	width: 200px;
	height: 320px;
	margin-top: 30px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 
}

.card-home-money
{
	font-family: 'Albert Sans', sans-serif;
   font-size: 18px;
	width: 200px;
	height: 320px;
	margin-top: 30px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   margin-left: 20px;
}

.card-home-confort
{
	font-family: 'Albert Sans', sans-serif;
   font-size: 18px;
	width: 200px;
	height: 320px;
	margin-top: 30px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   margin-left: 20px;
}

.icon-confort
{
	padding-top: 10px;
	display: flex;
	margin-left: auto;
	margin-right:auto ;
	width: 100px;
	height: 100px;

}

.blocoTxt
{
	padding-left:14px;
	padding-top: 5px;
	text-align: justify;
	display: flex;
	width: 170px;
}

.icon-ampulheta
{
	padding-top: 10px;
	display: flex;
	margin-left: auto;
	margin-right:auto ;
	width: 100px;
	height: 100px;
}

.icon-money
{
	padding-top: 10px;
	display: flex;
	margin-left: auto;
	margin-right:auto ;
	width: 100px;
	height: 100px;
}

.wraper
{
	display: flex;
	justify-content: center;
}